
.small{
	font-size: 10px;
}

.underline{
	text-decoration:underline;
	cursor:pointer;
}

.undreline:hover{
	cursor:none;
}

nav {
  overflow: hidden;
  position: fixed;
  bottom:0;
  width:100%;
  z-index:1
}

/*nav {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px; */

nav a {
  float: left;
  color:black;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

nav a:hover {
  background: #f1f1f1;
  color: black;
}

.dialog_lnk{
	cursor:pointer;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:300px;
    border:1px solid #ACD8F0;
    overflow:auto; }

.avatar{
	width:60px;
}

.icon{
    width:25px;
    height:25px;
}

.friends_container .avatar{
	display:inline-block;
}

.dialog_container:hover{
    cursor:pointer;
    background-color:gray;
}

.wall_message_container,
.forum_message_container{
    cursor:pointer;
}

.delete_msg_span{
    display:none;
    padding:3px;
    border-radius:100%;
}

.like{
    padding:3px;
    width:30px;
    height:30px;
    border-radius:100%;

}

.delete_msg_span:hover,
.like:hover{
    cursor:pointer;
    background-color:yellow;
}

.exit_span{
    text-decoration:underline;
    color:grey;
}

.exit_span:hover{
    cursor:pointer;
}

.wrapable{
    word-wrap: break-word;
}

/* Дропдаун три линии */
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}



.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  right:30px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span,
 .dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content span:hover,
 .dropdown-content a:hover{
  background-color: #ddd;
}

.show {
  display: block;
}

/* Коммент в диалоге */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    padding: 100px 0;
}

.comment-item {
    display: flex;
    gap: 30px;
}

.comment-item:not(:last-child) {
    margin: 0 0 40px 0;
}

.comment-item p:not(:last-child) {
    margin: 0 0 15px 0;
}

.comment-item__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f7f7f7;
    aspect-ratio: 1/1;
}

.comment-item__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.comment-item__head {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 0 15px 0;
}


.comment-item__username {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.comment-item__date {
    font-size: 14px;
    line-height: 20px;
    align-self: flex-end;
}


@media screen and (max-width: 768px) {
    .comment-item {
        gap: 15px;
    }

    .comment-item__text {
        font-size: 14px;
        line-height: 20px;
    }
}
	


