<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<title>Лог</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
	<script src="{% static 'js/jQuery.min.js' %}"></script>
	<script src="{% static 'js/superuser.js' %}"></script>
<style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
	textarea{resize:none;}
</style>
</head>
<body>
{% csrf_token %}
<span class="w3-text-grey w3-left exit_span" onclick="Exit()">Выход</span><br />
<a href="/admin" class="w3-text-grey w3-right">Пользователи </a><br />
<a href="/admin/forum" class="w3-text-grey w3-right">Форум </a>
<h1 class="w3-center">Лог {{ logs_count }}</h1>
<div class = "w3-content w3-white w3-round w3-border-light-blue w3-center" style = "max-width:650px; padding-bottom:10px;">

	<hr />
	<table class="w3-table-all w3-card-4">
    <thead>
		<tr>
		  <th>ID</th>
		  <th>Сообщение</th>
		  <th>Тип</th>
		  <th>Дата</th>
		</tr>
	</thead>
	<tbody  id="forums_table">
	  {% for log in logs %}
			<tr>
				<td>{{ log.id }}</td>
				<td>{{ log.message }}</td>
				<td>{{ log.type }}</td>
				<td>{{ log.date }}</td>
			</tr>
		{% endfor %}
	</tbody>
  </table>
</div>
</body>
</html>
