<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<title>Суперпользователь</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
	<script src="{% static 'js/jQuery.min.js' %}"></script>
	<script src="{% static 'js/superuser.js' %}"></script>
<style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
	textarea{resize:none;}
</style>
</head>
<body>
{% csrf_token %}
<h1 class="w3-center">Суперпользователь</h1>
<div class = "w3-content w3-white w3-round w3-border-light-blue w3-center" style = "max-width:650px">

  <table class="w3-table-all w3-card-4">

    <tr>
      <th>ID</th>
      <th>Ник</th>
	  <th>Заблокирован</th>
	  <th></th>
    </tr>
		{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>
					<a href="/user/{{ user.id }}" target="_blank">
						<img class="w3-circle" src="{% static user.avatar %}" style="height:30px;width:30px" /> {{ user.nick }}
					</a>
				</td>
				<td id="status_tr_{{ user.id }}">{{ user.is_blocked }}</td>
				<td></td>
				{% if not user.is_blocked %}
				<td><a class="underline" onclick="BlockUser(this, {{ user.id }})">Заблокировать</a></td>
					{% else %}
				<td><a class="underline" onclick="BlockUser(this, {{ user.id }})">Разблокировать</a></td>
				{% endif %}
			</tr>
		{% endfor %}
  </table>
</div>
</body>
</html>
