<!DOCTYPE html>
{% load static %}
<html>
<head>

    <!-- Обязательные мета-теги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "css/w3.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{% static "js/jQuery.min.js" %}"></script>

<style>
	h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
	body {font-family: "Open Sans"}
	textarea{
	resize:none;
	}
</style>
        <title>Социальная сеть</title>

</head>
<body class="w3-content w3-light-grey" style="max-width:1600px">

	<div class="w3-container w3-center w3-padding-48">   
	   <header class="">

		</header>
			  {% block content %}{% endblock %}

	</div> <!-- class="w3-content" -->

</body>
</html>