<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<title>Черный список</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
	{% if cookie_user_id and not user_info.is_blocked %}
	<script src="{% static 'js/jQuery.min.js' %}"></script>
	<script src="{% static 'js/black_list.js' %}"></script>
{% endif %}
<style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
	textarea{resize:none;}
</style>
</head>
<body>
{% if cookie_user_id %}
	{% include "./items/navbar.html" %}
	{% csrf_token %}
{% endif %}
<h1 class="w3-center">Черный список</h1>
<div class = "w3-content w3-white w3-round w3-border-light-blue w3-center" style = "max-width:650px">
<form class = "w3-panel  w3-padding" id="wall_form">
		<textarea class="w3-input w3-border" id="user_link_inpt" rows="1" maxlength="100"  placeholder="Ссылка на пользователя" type="text" required></textarea>
		<input type = "button"
			   class="w3-button w3-indigo w3-hover-teal w3-margin-top w3-margin-bottom w3-center"
			   style = "width:100%" id="find_user_by_link_btn" onclick="FindUserByLink()" value = "OK">
			<input type = "button"
			   class="w3-button w3-indigo w3-hover-teal w3-left w3-khaki" onclick="window.location.reload()" value = "Сброс">
	</form>
	<hr />
  <table class="w3-table-all w3-card-4">

    <tr>
      <th></th>
      <th></th>
	  <th>Заблокирован</th>
	  <th></th>
    </tr>
	<tbody  id="users_table">
	  {% for user in blocked_users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>
					<a href="/user/{{ user.id }}" target="_blank">
						<img class="w3-circle avatar" src="{% static user.avatar %}" style="height:30px;width:30px" /> {{ user.nick }}
					</a>
				</td>
				{% if user.is_blocked %}
					<td id="status_tr_{{ user.id }}">Да</td>
				{% else %}
					<td id="status_tr_{{ user.id }}">Нет</td>
				{% endif %}
				<td></td>
				{% if not user.is_blocked %}
				<td><a class="underline" onclick="BlockUser(this, {{ user.id }})">Заблокировать</a></td>
					{% else %}
				<td><a class="underline" onclick="BlockUser(this, {{ user.id }})">Разблокировать</a></td>
				{% endif %}
			</tr>
	  {% empty %}
	  <tr class="w3-text-grey">
		  <td></td>
		  <td></td>
		  <td>Список пуст</td>
		  <td></td>
		  <td></td>
	  </tr>
	  {% endfor %}

	</tbody>
  </table>
</div>
</body>
</html>
