<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<title>Смена пароля</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
	{% if cookie_user_id and not user_info.is_blocked %}
	<script src="{% static 'js/jQuery.min.js' %}"></script>
	<script src="{% static 'js/change_pass.js' %}"></script>
{% endif %}
<style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
	textarea{resize:none;}
</style>
</head>
<body>
{% if cookie_user_id and cookie_user_id_is_blocked == 0 %}
	{% include "./items/navbar.html" %}
	{% csrf_token %}
{% endif %}
<h1 class="w3-center">Смена пароля</h1>
<div class = "w3-content w3-white w3-round w3-border-light-blue w3-center" style = "max-width:650px; padding-bottom: 40px;">
<form class = "w3-panel  w3-padding" id="wall_form">
		<textarea class="w3-input w3-border" id="user_link_inpt" rows="1" maxlength="100"  placeholder="Ссылка на пользователя" type="text" required></textarea>
		<input type = "button"
			   class="w3-button w3-indigo w3-hover-teal w3-margin-top w3-margin-bottom w3-center"
			   style = "width:100%" id="find_user_by_link_btn" onclick="FindUserByLink()" value = "OK">
			<input type = "button"
			   class="w3-button w3-indigo w3-hover-teal w3-left w3-khaki" onclick="window.location.reload()" value = "Сброс">
	</form>

</div>
</body>
</html>
