<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{% static 'js/jQuery.min.js' %}"></script>
	<script src="{% static 'js/items_controller.js' %}"></script>
	<script src="{% static 'js/friends.js' %}"></script>
	<script src="{% static 'js/dialog.js' %}"></script>
		<style>
			html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
			textarea{resize:none;}
		</style>
</head>
<body>
	{% if cookie_user_id %}
		{% csrf_token %}
		{% include "./items/navbar.html" %}
	{% endif %}
<!-- Start Content -->
<div class="w3-content" style="max-width:800px;">

	{% if dialogs_count %}
		<h3 class = "w3-center">Диалоги {{ dialogs_count  }}</h3>
	{% endif %}

	{% for dialog in dialogs %}
		{% if not dialog.is_readen %}
	<div class="w3-container w3-card w3-cyan w3-round w3-margin w3-padding dialog_container"
		 onclick="openDialog({{ dialog.id }})">
		{% else %}
			<div class="w3-container w3-card w3-white w3-round w3-margin w3-padding dialog_container"
		 onclick="openDialog({{ dialog.id }})">
		{% endif %}

		<div class="w3-clear">
				<img src="{% static dialog.avatar %}" alt="Avatar"
					 class="w3-left w3-circle w3-margin-right avatar" style="width:60px;height:60px">
			<h3>{{ dialog.nick }}</h3>

		</div>

		<hr class="w3-clear">
			<p>
				{% if dialog.is_cookie_user %}
					<span class="w3-text-gray">Вы: </span>
				{% endif %}
				{{ dialog.last_message }}
			</p>
				<span class="small">{{ dialog.date }}</span>
	</div>
	{% endfor %}

<!-- End Content -->
</div>


</body>
</html>