<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{% static 'js/jQuery.min.js' %}"></script>
	<script src="{% static 'js/items_controller.js' %}"></script>
	<script src="{% static 'js/friends.js' %}"></script>
	<script src="{% static 'js/dialog.js' %}"></script>
		<style>
			html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
			textarea{resize:none;}
		</style>
</head>
<script>
$(document).ready(function() {
    scrollTop();
});
</script>
<body>
	{% if cookie_user_id %}
		{% csrf_token %}
		{% include "./items/navbar.html" %}
	{% endif %}

	<!-- Start Content -->
<div class="w3-container w3-margin-top" style="max-width:800px;">
	<div class="w3-content">
			<span><a href = "/user/{{opponent.id}}" target="_blank">
				{{ opponent.nick }}
				</a> <img src="{% static opponent.avatar %}" alt="Avatar"
					 class="w3-left w3-circle w3-margin-right avatar" style="width:30px;height:30px">
			</span>
	</div>
	<div class="w3-border" style="height:400px;overflow:scroll" id="dialog_messages">
		{% for message in messages %}
			<div class="w3-white w3-round w3-margin">
			<a href = "/user/{{message.user_id}}" target="_blank">
				<img src="{% static message.avatar %}" alt="Avatar"
					 class="w3-left w3-circle w3-margin-right avatar" style="width:40px;height:40px">
			<h4>{{ message.nick }}</h4>
			</a><br>
			<span class="w3-right w3-opacity small">{{ message.date}}</span>
			<p class="wrapable">
			{{ message.message|safe }}
			</p>
				<hr />
		</div>

			{% endfor %}
		</div>

	{% if user_is_in_black_list == 0 %}
		{% include "./items/textareas/dialog_textarea.html" %}
	{% else %}
	<div class = "w3-panel  w3-padding w3-center">
		<span class="w3-text-grey">Невозможно отправить сообщение</span>
	</div>
	{% endif %}
<!-- End Content -->
</div>

</body>
</html>