<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{% static 'js/jQuery.min.js' %}"></script>
	<script src="{% static 'js/items_controller.js' %}"></script>
	<script src="{% static 'js/friends.js' %}"></script>
	<script src="{% static 'js/forum.js' %}"></script>
		<style>
			html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
			textarea{resize:none;}
		</style>
</head>
<body>
	{% if cookie_user_id %}
		{% csrf_token %}
		{% include "./items/navbar.html" %}
	{% endif %}
<!-- Start Content -->
<div class="w3-content" style="max-width:800px;">
	{% if cookie_user_id %}
	<div class="w3-container">
	<h1>Создать форум</h1>
	<form class = "w3-panel  w3-padding" id="forum_create_form">
		<input type="text" class="w3-input w3-border w3-margin" id="forum_topic" rows="1" maxlength="256"  placeholder="Тема" type="text" required />
		<textarea class="w3-input w3-border w3-margin" id="forum_msg" rows="3"
				  maxlength="1000"  placeholder="Сообщение" required></textarea>
		<input type = "button" class="w3-button w3-indigo w3-hover-teal w3-margin-top w3-margin-bottom w3-center w3-margin" style = "width:100%"
			   id="forum_create_btn" value = "OK" />
	</form>
	</div>
	<hr />
	{% endif %}
	
	<div class="w3-container">
		{% if forums_count %}
			<h3 class="w3-center">{{ forums_count }}</h3>
		{% endif %}
	{% for forum in forums %}
		<div class="w3-card w3-padding">
			<h3 class="wrapable"><a href="forum/{{ forum.id }}">{{forum.name}}</a></h3>
			<p class="wrapable">{{ forum.message }}</p><br />
				<a href="user/{{ forum.creator_id }}">
					<img src="{% static forum.avatar %}" class="w3-left w3-circle w3-margin-right avatar" style="width:30px;height:30px" />
				<span>{{ forum.nick }}</span></a><br />
				<span class="small">{{ forum.date }}</span>
			
		</div>
		{% empty %}
		<h6 class="w3-opacity w3-center">Тем пока что нет</h6>
	{% endfor %}
	</div>
	
<!-- End Content -->
</div>


</body>
</html>