{% extends "./base.html" %}
{% block content %}

{% if session_user and 'class1999' in session_user %}
	<script>
		  window.location.replace('/admin');
	</script>
{% endif %}

<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script>
$(document).ready(function(){
  auth(1);
});
</script>
<div class = "w3-container w3-content w3-card-4 w3-white w3-border-light-blue" style = "max-width:450px">
	<form id = "auth_form" class="w3-left-align">  
	  <h2>Авторизация</h2>
	  <label>Логин</label>
	  <input class="w3-input w3-border w3-round" id="login" type="text" maxlength="20" onkeyup="this.value = this.value.replace(/\s+/gi,'');" required>

	  <label>Пароль</label>
	  <input class="w3-input w3-border w3-round" id="pass" type="password" maxlength="30" onkeyup="this.value = this.value.replace(/\s+/gi,'');" required>
		  
	<input type = "submit" class="w3-button w3-indigo w3-hover-teal w3-margin-top w3-margin-bottom w3-center" style = "width:100%" value = "OK">
	</form>

</div>

{% endblock content %}