<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<title>{{user_info.nick}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
{% if cookie_user_id and not user_info.is_blocked %}
	<script src="{% static 'js/jQuery.min.js' %}"></script>
	<script src="{% static 'js/wall.js' %}"></script>
	<script src="{% static 'js/items_controller.js' %}"></script>
	<script src="{% static 'js/friends.js' %}"></script>
	<script src="{% static 'js/dialog.js' %}"></script>
	<script src="{% static 'js/likes.js' %}"></script>
	<script src="{% static 'js/exit.js' %}"></script>
{% endif %}

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
textarea{resize:none;}
}
</style>
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;padding-bottom: 40px;">
{% if is_authed_user and not user_info.is_blocked %}
	{% include "./items/navbar.html" %}
	{% csrf_token %}
{% endif %}

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{% static user_info.avatar %}"
			   {% if is_login_user_page and not user_info.is_blocked %}
					onclick=document.getElementById('change_avatar_modal').style.display='block'
			   {% endif %} style="width:100%; height:300px" alt="Avatar" />
        </div>
        <div class="w3-container">
		  <h5 class="w3-text-black w3-center">{{user_info.nick}}</h5>
		  {% if not user_info.is_blocked and user_info.is_online %}
			<span>Online</span><br/>
		  {% endif %}

				{% if not user_info.is_blocked %}
			<div class="w3-content w3-center">
				{% if is_authed_user and cookie_user_id != user_info.id and  user_is_in_black_list == 0 %}
						<img  class="w3-center like" src="{% static 'images/like.png' %}" onclick="SetPageLike(this,{{ user_info.id }})" />
					{% else %}
						<img  class="w3-center like" src="{% static 'images/like.png' %}" />
					{% endif %}
					{% if page_likes_count %}
						<span id="page_likes_count_span">{{ page_likes_count }}</span>
					{% else %}
						<span id="page_likes_count_span"></span>
					{% endif %}
				{% else %}
			<span class="w3-text-grey">Страница заблокирована</span>
				{% endif %}
			</div>
		{% if is_authed_user and not user_info.is_blocked %}
			{% include "./items/buttons/friend_buttons_user_page.html" %}
				{% if cookie_user_id != user_id and user_is_in_black_list == 0 %}
					{% include "./items/modals/message_modal.html" %}
					{% include "./items/buttons/message_button.html" %}
				{% endif %}
			{% include "./items/modals/change_avatar_modal.html" %}
		{% endif %}
          <hr />
        </div>
      </div>
	      
		  {% if friends and not user_info.is_blocked %}
			<div class="w3-container w3-card w3-white w3-padding w3-margin-bottom friends_container">
				<h3>Друзья {{ friends_count }}</h3>
				<hr />
				{% for friend in friends %}
							<a href="{{friend.id}}" title="{{friend.nick}}">
							<img style="width:60px;height:60px" class="w3-circle w3-margin-right avatar" src="{% static friend.avatar %}" />
						</a>
				{% endfor %}
			  
			  </div>
		  
		  {% endif %}
	  
	  <br />

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
		{% if is_authed_user and not user_info.is_blocked %}
		<div class="w3-content w3-right">
			<div class="dropdown-content" id="dropdown_menu">
    			<a href="/black_list" onclick="">Черный список</a>
				<span class="exit_span" onclick="Exit()">Выход</span>
			</div>
			<div class="container dropbtn" onclick="ToggleDropdown(this)">
  				<div class="bar1"></div>
  				<div class="bar2"></div>
  				<div class="bar3"></div>
			</div>

		</div>
			{% if cookie_user_id != user_id and user_is_in_black_list == 0 or cookie_user_id == user_id	%}
				{% include "./items/textareas/wall_textarea.html" %}
			{% endif %}
		{% endif %}
		<!-- Messages Container -->
      <div class="w3-container w3-card w3-white w3-margin-bottom">
		  {% if not user_info.is_blocked  %}
		  {% for wall_message in wall_messages %}
			{% if cookie_user_id == user_info.id or cookie_user_id == wall_message.sender_id %}
		  <div class="w3-container w3-card w3-white w3-round w3-margin wall_message_container"
			   	onmouseover="ShowDeleteMsgSpan({{ wall_message.id }})"
		  		onmouseleave="HideDeleteMsgSpan({{ wall_message.id }})" id="#wall_message_container{{ wall_message.id }}">
			  {% else %}
			  <div class="w3-container w3-card w3-white w3-round w3-margin wall_message_container">
			  {% endif %}
			  <br>
			<a href = "{{wall_message.sender_id}}" target="_blank">
				<img src="{% static wall_message.avatar %}" alt="Avatar"
					 class="w3-left w3-circle w3-margin-right avatar" style="width:60px;height:60px">
			<h4>{{ wall_message.nick }}</h4>
			</a><br>
			<span class="w3-right w3-opacity small">{{wall_message.date}}</span>
					<hr class="w3-clear">
			<p class="wrapable" id="wall_message{{ wall_message.id }}">
			{{wall_message.message|safe}}
			</p>
			{% if cookie_user_id == user_info.id or cookie_user_id == wall_message.sender_id %}
				<span id="delete_msg_span{{ wall_message.id }}"
					  onclick="DeleteWallMessage(this,{{ wall_message.id }},{{ user_info.id }}, {{ wall_message.sender_id }})"
					  class="w3-right w3-text-grey delete_msg_span">x</span>
			{% endif %}
				  	{% if is_authed_user and cookie_user_id != wall_message.sender_id and  wall_message.liker_is_blocked == 0 %}
						<img  class="w3-center like" src="{% static 'images/like.png' %}" onclick="SetWallMessageLike(this,{{ wall_message.id }})" />
					{% else %}
						<img  class="w3-center like" src="{% static 'images/like.png' %}" />
					{% endif %}
					{% if wall_message.likes_count %}
						<span id="wall_message_likes_count_span{{ wall_message.id }}">{{ wall_message.likes_count }}</span>
					{% else %}
						<span id="wall_message_likes_count_span{{ wall_message.id }}"></span>
					{% endif %}
		</div>
		
		{% empty %}
		<h6 class="w3-opacity w3-center">Сообщений пока что нет</h6>
		{% endfor %}

			  {% endif %} {# if not user_info.is_blocked #}
	  <!-- End Messages Container -->
	  </div>
		<!-- End Right Column -->
	</div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
	{% if not user_info.is_blocked and is_login_user_page %}
		<script src="{% static 'js/change_avatar.js' %}"></script>
	{% endif %}
</div>
</body>
</html>
