	<div class="w3-container">
	<h1>Создать форум</h1>
	<form class = "w3-panel  w3-padding" id="forum_create_form">
		<input type="text" class="w3-input w3-border w3-margin" id="forum_topic" rows="1" maxlength="256"  placeholder="Тема" type="text" required />
		<textarea class="w3-input w3-border w3-margin" id="forum_msg" rows="3"
				  maxlength="1000"  placeholder="Сообщение" required></textarea>
		<input type = "button" class="w3-button w3-indigo w3-hover-teal w3-margin-top w3-margin-bottom w3-center w3-margin" style = "width:100%"
			   id="forum_create_btn" value = "OK" />
	</form>
	</div>
	<hr />