<nav class="w3-border w3-round w3-light-grey">
		<a href="../user/{{cookie_user_id}}" class="w3-border w3-button">Страница</a>
		<a href="../friends" class="w3-border w3-button">Друзья 
		{% if friend_requests_count %}
		<span class="w3-badge w3-green">{{friend_requests_count}}</span>
		{% endif %}
		<span class="w3-badge w3-green"></span></a>
		<a href="/forum" class="w3-border w3-button">Форум</a>

		<a href="/dialogs" class="w3-border w3-button">Диалоги
			{% if active_dialogs_count %}
				<span class="w3-badge w3-green">{{ active_dialogs_count }}</span>
			{% endif %}
		</a>
</nav>